/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/tests
/Test
/test
/Tests
/composer.phar
/ui-samples
/public/inventory
/public/flags
/app/Http/Controllers/TestController.*
/public/css/style.css
/public/css/spinners.css
/public/css/steps.css
/public/css/colors
/public/css/flag-icon.min.css
/public/js/sidebarmenu.js
/public/js/custom.min.js
/public/js/steps.js
/public/img/brand/Logo.psd
/public/img/brand/Icon.psd
/public/img/brand/Untitled-1.png
/public/img/brand/Untitled-2.png
.gitmsg
_ide_helper.php
meta.phpstorm.php
Procfile
