/node_modules
/web/node_modules
/web/storage/*.key
/web/vendor
/.idea
/web/.vagrant
/web/Homestead.json
/web/Homestead.yaml
/web/npm-debug.log
/web/yarn-error.log
/web/.env
/web/tests
/web/composer.phar
/web/ui-samples
/web/public/inventory
/web/public/flags
/web/app/Http/Controllers/TestController.*
/web/public/css/style.css
/web/public/css/spinners.css
/web/public/css/steps.css
/web/public/css/colors
/web/public/css/flag-icon.min.css
/web/public/js/sidebarmenu.js
/web/public/js/custom.min.js
/web/public/js/steps.js
/web/public/img/brand/Logo.psd
/web/public/img/brand/Icon.psd
/web/public/img/brand/Untitled-1.png
/web/public/img/brand/Untitled-2.png
/web/_ide_helper.php
/web/.phpstorm.meta.php
/web/.php_cs.cache
.gitmsg
/dist